/*----------------------------------------------------------
footer
----------------------------------------------------------*/
.site-footer {
    background-color: $footer-color;
    padding: 40px 0;
    text-align: center;
    color:  $footer-txt-color;
    a {
        color:  $footer-txt-color;
        &:hover {
            text-decoration: underline;
        }
    }
}

.cult-man-info  {
    //padding-top: 15px;
    color: $footer-txt-color;
    h3 {
        text-align: left;
        border-bottom: 2px solid;
        padding-bottom: 5px;
        margin-bottom: 10px;}

    p {
        text-align: left;
    }
}

.map-cult-man {
    margin: 0px;
    //border: 2px solid #333;
}
