/*---------------- Header -----------------
------------------------------------------*/



img.custom-logo {
    box-shadow: none;
    margin-top: 20px;
}

.site-title  {
    font-family: $site__title-font;
    text-transform: uppercase;
    text-align: center;
    line-height: 170%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    animation: zoomIn;
    animation-duration: 1.2s;
    a {font-size: $font-size-base +16px;}
    }

.site-title a, h1.site-title a {
    color: $site__title-color;
    letter-spacing: 0.1em;
    text-decoration: none;
    &:hover{
        color: $site__title-color;
    }
}

.site-description {
    text-align: center;
    color: $site__description-color;
    font-size: $site__description-size;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    p {
        margin-bottom: none;
    }
}

.site-branding {
    position: absolute;
    z-index: 15;
    top: 0;
    margin-top: 34px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    //padding-bottom: 10px;
    background-color: rgba(2, 9, 51, 0.54);
    height: auto;
}

.site-header {
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content:space-around;
}

/*-----------------------------------------
LOGO
------------------------------------------*/

.custom-logo {
    margin: 10px;
}

