/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    @include text-content__size(12px);
    @include title-sizes (12px);

    #site-navigation {
        display: block;
    }

    .main-navigation {
     background-color: rgb(18, 30, 80);
    }

    h2.entry-title {
        //font-size: 16px;
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        text-transform: uppercase;
        a {
            color: #333;
            &:hover {
                color: $title-color;
                transition: all 0.2s ease;
            }
        }
    }

    h1.entry-title {
        //font-size: 16px;
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        padding-left: 20px;
        padding-bottom: 5px;
        border-bottom: 2px solid $border-color;
        text-transform: uppercase;
    }

    .site-branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }

    .custom-logo {
        width: 95%;
        height: auto;
    }

    .site-description {
        font-size: 14px;
        p {
            line-height: 1;
        }
    }

    .menu-toggle {
        display: block;
        color: #fff;
        text-align: center;
    }

    button.menu-toggle {
        padding: 5px;
        &:hover {
            color: #fff;
        }
    }

    .slider__item-entry-title {
        a {
            font-size: 20px!important;
        }
    }

    .slider__item-entry-meta-date {
        p {
            font-size: 18px!important;
        }
    }

    .slider__item-entry-meta-time {
        p {
            font-size: 18px!important;
        }
    }

    .sub-menu {
        display: none!important;
    }

    .current-menu-item {
        a {color: #fff;}
        background-color: $title-color;
    }

    .current-menu-item {
    background-color: $menu__curent-item-color;
    border-radius: none;
    a {
        color: #fff;
        font-family: $menu__font;
        text-shadow: none;
        border-radius: none;
    }
    }

    .main-navigation li {
        display: list-item;
        margin-right: 0;
        &:hover {
            a {color: #fff;}
            background-color: $title-color;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 10px;
        }

        &:first-child {
            border-top: 1px solid $border-color;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    @include title-sizes (10px);
    @include text-content__size(10px);
    //$font-size-base: 10px;
    #site-navigation {
        display: block;
    }

    h2.entry-title {
        //font-size: 16px;
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        text-transform: uppercase;
        a {
            color: #333;
            &:hover {
                color: $title-color;
                transition: all 0.2s ease;
            }
        }
    }
    h1.entry-title {
        //font-size: 16px;
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        padding-left: 20px;
        padding-bottom: 5px;
        border-bottom: 2px solid $border-color;
        text-transform: uppercase;
    }

    .site-branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    .custom-logo {
        width: 95%;
        height: auto;
    }
    .site-description {
        font-size: 14px;
        p {
            line-height: 1;
        }
    }
    .menu-toggle {
        display: block;
        color: #fff;
        text-align: center;
    }
    button.menu-toggle {
        padding: 5px;
        &:hover {
            color: #fff;
        }
    }
    .slider__item-entry-title {
        a {
            font-size: 20px!important;
        }
    }
    .slider__item-entry-meta-date {
        p {
            font-size: 18px!important;
        }
    }
    .slider__item-entry-meta-time {
        p {
            font-size: 18px!important;
        }
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    @include title-sizes (8px);
    @include text-content__size(8px);
    #site-navigation {
        display: block;
    }
    h2.entry-title {
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        text-transform: uppercase;
        a {
            color: #333;
            &:hover {
                color: $title-color;
                transition: all 0.2s ease;
            }
        }
    }
    h1.entry-title {
        //font-size: 16px;
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        padding-left: 20px;
        padding-bottom: 5px;
        border-bottom: 2px solid $border-color;
        text-transform: uppercase;
    }

    .site-branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    .custom-logo {
        width: 95%;
        height: auto;
    }

    .site-description {
        font-size: 14px;
        p {
            line-height: 1;
        }
    }
    .menu-toggle {
        display: block;
        color: #fff;
        text-align: center;
    }
    button.menu-toggle {
        padding: 5px;
        &:hover {
            color: #fff;
        }
    }
    .slider__item-entry-title {
        a {
            font-size: 20px!important;
        }
    }
    .slider__item-entry-meta-date {
        p {
            font-size: 18px!important;
        }
    }
    .slider__item-entry-meta-time {
        p {
            font-size: 18px!important;
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    @include title-sizes (6px);
    @include text-content__size(6px);
    #site-navigation {
        display: block;
    }
    h2.entry-title {
        //font-size: 16px;
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        text-transform: uppercase;
        a {
            color: #333;
            &:hover {
                color: $title-color;
                transition: all 0.2s ease;
            }
        }
    }
    h1.entry-title {
        //font-size: 16px;
        font-family: $title-font, sans-serif;
        margin-bottom: 5px;
        padding-left: 20px;
        padding-bottom: 5px;
        border-bottom: 2px solid $border-color;
        text-transform: uppercase;
    }

    .site-branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    .custom-logo {
        width: 95%;
        height: auto;
    }
    .site-description {
        font-size: 14px;
        p {
            line-height: 1;
        }
    }
    .menu-toggle {
        display: block;
        color: #fff;
        text-align: center;
    }
    button.menu-toggle {
        padding: 5px;
        &:hover {
            color: #fff;
        }
    }
    .slider__item-entry-title {
        a {
            font-size: 20px!important;
        }
    }
    .slider__item-entry-meta-date {
        p {
            font-size: 18px!important;
        }
    }
    .slider__item-entry-meta-time {
        p {
            font-size: 18px!important;
        }
    }
    .owl-prev,
    .owl-next {
        border: none!important;
    }
}


/* Custom, iPhone Retina */





/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {



}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
