/*--------------------------------------------------------------
# typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #333;
	font-family: "OpenSansRegular", sans-serif;
	//font-size: $font-size-regular;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
    line-height: 1.3em;
    margin-bottom: 5px;
    font-family: $title-font;
}

@mixin title-sizes ($font-size-base) {
    h1 {
        font-size: ($font-size-base + 12px)!important;
    }
    h2 {
        font-size: ($font-size-base + 10px)!important;
    }
    h3 {
        font-size: ($font-size-base + 8px)!important;
    }
    h4 {
        font-size: ($font-size-base + 6px)!important;
    }
    h5 {
        font-size: ($font-size-base + 4px)!important;
    }
    h6 {
        font-size: $font-size-base!important;
    }
    .site-title {
        a {
            font-size: $font-size-base +16px;
        }
    }
    .slider__item-entry-title a {
        font-size: $font-size-base + 18px;
    }

    .slider__item-entry-meta-date, .slider__item-entry-meta-time {font-size: $font-size-base + 8px;}
    .widget__event-meta-time {
        font-size: $font-size-base + 26px;
    }

    .widget__event-meta-date {
        font-size: $font-size-base + 6px;
    }
    .page-title {
        font-size: $font-size-base + 16px;
    }

}
@mixin text-content__size ($scale) {
    body,
    button,
    input,
    select,
    textarea {
        font-size: ($font-size-base+2px)!important;
    }
    .widget__event-event-title {
        font-size: $font-size-base + 2px;
    }

}
@include text-content__size(12);
@include title-sizes (14);



.box-shadow-custom {box-shadow: 3px 3px 15px 3px rgba(49, 24, 82, 0.53) , -5px -3px 15px -3px rgba(49, 24, 82, 0.5) ;}

/*Заплатка поменять на самом верхнем уровне абстракции потом убрать здесь*/
.contur-txt-dark {
@extend .text__shadow-dark;
}


h2.entry-title {
    font-size: 25px;
    font-family: $title-font, sans-serif;
    margin-bottom: 5px;
    text-transform: uppercase;
    a{
        color: #333;
        &:hover {
            color: $title-color;
            transition: all 0.2s ease;
        }
    }
}

h1.entry-title {
    font-size: 25px;
    font-family: $title-font, sans-serif;
    margin-bottom: 5px;
    /*text-align: center;*/
    padding-left: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid $border-color;
    text-transform: uppercase;
}

.page-title {
    border-bottom: 2px solid $border-color;
    padding-left: 20px;
    margin-bottom: 1.1em;
    padding-bottom: 0.1em;
    font-family: "OpenSansRegular";
    text-transform: uppercase;
}


p {
	margin-bottom: 10px;
    font-family: $Site__font-regular;
}

a.more-link {
    margin-bottom: 10px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.text__shadow-dark {
    text-shadow: -1px 0 1px #000, 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, 0 0 15px #000;
}

.cat-links {
    a {
        background: #b9efa7;
        padding: 3px;
        border-radius: 3px;
        font-size: 95%;
        text-transform: uppercase;
    }
}
