.widget__event {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    &-meta {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        border-radius: 3px;
        justify-content: space-around;
        background: $widget__event-meta-background;
        transition: background 0.6s ease;
        &-time,
        &-date {
            a {
                color: #fff;
            }
        }
        &-time {
            border-bottom: 1px solid #fff;
            font-family: $site__title-font;
            text-align: center;
            flex-grow: 3;
            display: flex;
            align-items: center;
        }
        &-date {
            //font-size: 20px;
            font-family: $title-font;
            text-align: center;
            flex-grow: 2;
            display: flex;
            align-items: center;
        }
        a {
            color: $widget__event-meta-text-color!important;
        }
        &:hover {
            transition: background 0.6s ease;
            background: $widget__event-meta-hover-background;
            a {
                color: $title-color!important;
            }
        }
    }
    &-entry {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 10px;
        &-title {
            text-align: justify;
            //padding: 0px 10px;
            font-family: $widget__event-event-title-font;
            text-transform: uppercase;
        }
        &-place {
            display: block;
            align-content: justify;


            //margin-bottom: 0px;
            //font-family: $widget__event-event-title-font;
            //text-transform: uppercase;
        }
    }
    &-title {
        @extend .widget-title;
    }
}
